<div class="card col-12 col-md-5 m-3 mx-auto hoverable">
    <div class="mx-auto pt-5 pb-3 text-center">
        <h2><%=link_to club.name, club %></h2>
    </div>
    <div class="mx-auto pb-5 animated jello">
        <%= image_tag club.image, size: "80x80" %>
    </div>
</div>