<h2 class="text-center p-3">
    <div class="card p-3 hoverable">
        <div class="row">
            <div class="col-12 ptbm-5 ">
            <%= content %>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pt-3 ">
            <%= image_tag @club.image, size: "60x60" %>
            </div>
        </div>
    </div>
</h2>