<div class="container">
    <h1 class="text-center p-5">
        <div class="card p-3 hoverable">
            All Competitions
        </div>
    </h1>

    <% @competitions.each do |competition|%>
        <h2 class="text-center p-5">
            <div class="card p-3 hoverable">
                <%= link_to competition.name, competition %>

                <%=competition.clubs.size%> Teams<br/>

                *placeholder* Show Top 4 teams of league table **

            </div>
        </h2>
        

    <% end %>
</div>