<div class="container">

    <h1 class="text-center p-5">
        <div class="card p-3">
            <%= @competition.name %>
        </div>
    </h1>

    <h2 class="text-center p-5">
        <div class="card p-3">
            Leading Player Stats
        </div>
    </h2>

    <%= render "/stats/top_stats" %>

    <h2 class="text-center p-5">
        <div class="card p-3">
            Teams
        </div>
    </h2>

    <%= render "/clubs/club_primary_label" %>

</div>