<div class="container">

    <h1 class="text-center p-5">
        <div class="card p-3">
            <%= @competition.name %>
        </div>
    </h1>

    <div class="card p-3">
        <h2 class="text-center p-3">
            Leading Player Stats
        </h2>
    </div>

    <%= render "/stats/top_stats" %>

    <br/>
    <div class="card p-3">
        <h2 class="text-center p-1">
            Clubs
        </h2>
    </div>
    <br/>


<div class="row">
    <% @competition.clubs.each do |club|%>
    <%= render "/clubs/club_primary_label", :club => club %>
   <% end %>
</div>

</div>