<h2><%= @competition.name %></h2>

<%= render "/stats/top_stats"%>

Teams:
<br/>
<% @competition.clubs.each do |club|%>
    <%= image_tag club.image %><br/>
    <%=link_to club.name, club %><br/>
<% end %>