<div class="container">

    <h1 class="text-center p-5">
        <div class="card p-3 hoverable">
            <%= @competition.name %>
        </div>
    </h1>

    <div class="card m-3 hoverable">
    <ul class="nav nav-pills p-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-clubs-tab" data-toggle="pill" href="#pills-clubs" role="tab"
            aria-controls="pills-clubs" aria-selected="true">Clubs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-player-stats-tab" data-toggle="pill" href="#pills-player-stats" role="tab"
            aria-controls="pills-player-stats" aria-selected="false">Player Stats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-club-stats-tab" data-toggle="pill" href="#pills-club-stats" role="tab"
            aria-controls="pills-club-stats" aria-selected="false">Club Stats</a>
        </li>
    </ul>
    </div>

    <div class="tab-content pt-2 pl-1" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-clubs" role="tabpanel" aria-labelledby="pills-clubs-tab">

            <div class="row">
                <% @competition.clubs.each do |club|%>
                    <%= render "/clubs/club_primary_label", :club => club %>
                <% end %>
            </div>
        </div>

        <div class="tab-pane fade" id="pills-player-stats" role="tabpanel" aria-labelledby="pills-player-stats-tab">
            
                <%= render "/stats/top_stats", {
                    :items => :players, 
                    :stats_array => @player_stats_array 
                } %>
        
        </div>

        <div class="tab-pane fade" id="pills-club-stats" role="tabpanel" aria-labelledby="pills-club-stats-tab">

                <%= render "/stats/top_stats", {
                    :items => :clubs,
                    :stats_array => @club_stats_array
                } %>
        </div>
    </div>
    <br/>

</div>