<div class="container pb-5">
<%= render "/layouts/main_title", :content => @player.name %>

<%= render 'player_profile' %>

<%= render "/layouts/main_title", :content => "Season Stats" %>

<%= render 'player_facts' %>

</div>