<div class="p-5">
    <div class="card col-10 pt-3 mx-auto hoverable">
        <%= render "/matches/match_details_contents", match: match %>

        <%= render "/matches/match_title_contents", match: match %>
    </div>
</div>

