<div class="container">

    <%= render "/matches/match_title", match: @match  %>
    <%= render "/matches/match_details", match: @match %>
    <%= render "/matches/match_stats", match: @match %>

</div>