<!-- Footer -->
<footer class="page-footer font-small elegant-color pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row justify-content-center text-center">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Creators</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://github.com/Liko" target="_blank">Li Xie</a>
          </li>
          <li>
            <a href="https://github.com/bogomilam" target="_blank">Bogo Mihaylov</a>
          </li>
          <li>
            <a href="https://github.com/tishchungoora" target="_blank">Tish Chungoora</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Tech Stack Used</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.ruby-lang.org/" target="_blank">Ruby</a>
          </li>
          <li>
            <a href="https://rubyonrails.org/" target="_blank">Rails</a>
          </li>
          <li>
            <a href="https://guides.rubyonrails.org/active_record_basics.html" target="_blank">Active Record</a>
          </li>
          <li>
            <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>
          </li>
          <li>
            <a href="https://www.heroku.com/" target="_blank">Heroku</a>
          </li>
          <li>
            <a href="https://mdbootstrap.com/" target="_blank">Material Design for Bootstrap</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2019
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->